/* CSS declarations go here */
body {
    font-family: 'VT323', monospace;
    font-size: 16px;
    margin: 20px auto;
    max-width: 650px;
    line-height: 1.4;
    background-color: #B3E2A7;
}
input, select, button {
    font-family: 'VT323', serif;
    font-size: 1em;
}
h1 {
    clear: both;
}
#header {
    background-color: #77BD65;
    padding: .5em;
}
#header ul {
    list-style: none;
    padding: initial;
    margin: 0;
}
#header li {
    display: inline;
}
#content {
    position: relative;
}
.new-game table {
    border-spacing: 0;
}
.new-game select {
    width: 100%;
}
.lobby-list {
    list-style: none;
    padding: initial;
    margin: 0;
}
.lobby {
    display: inline-block;
    margin: .25em;
    padding: .5em;
    border: 1px solid black;
    border-radius: 5px;
}
.chatbox input {
    width: 100%
}
.chatbox ul {
    list-style: none;
    padding: initial;
    margin: 0
}
.chatbox {
    z-index: -1;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 20em;
}
#playerlist {
    float: right;
    list-style: none;
    padding: initial;
    margin: 0
}
#playerlist li {
    height: 3em;
    width: 10em;
    background-color: gold;
    border: 1px solid black;
    border-radius: 2px;
}
#playerlist .nickname {
    float: left;
}
#playerlist .username {
    float: right;
}
#playerlist .info {
    display: flex;
    clear: both;
}
#playerlist .condition {
    width: 1em;
    writing-mode: tb-rl;
    letter-spacing: -.75em;
    margin-top: -.5em;
    color: cornflowerblue;
}
#playerlist .status {
    display: inline-block;
    height: 1em;
    width: 1em;
    border: 1px solid black;
    border-radius: 3px;
    align-self: center;
}
#playerlist .hearts {
    display: inline-block;
    color: red;
}
#playerlist .hearts.negative {
    color: black;
}
#log {
    height: 20em;
    overflow: auto;
    list-style: none;
    padding: initial;
    margin: 0;
}
.action table {
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    background-color: cornflowerblue;
}
.action td {
    border: 4px solid gray;
}
.action .category {
    font-size: 2em;
    float: left;
    width: 3em;
    text-align: center;
    text-transform: uppercase;
    margin-left: .2em;
}
.action .category.cool {
    background-color: orange;
}
.action .category.beauty {
    background-color: blue;
}
.action .category.cute {
    background-color: pink;
}
.action .category.clever {
    background-color: green;
}
.action .category.tough {
    background-color: yellow;
}
.action .appeal, .action .jam {
    float: right;
    clear: right;
}
.action .info {
    width: 100%;
}
.action .flavor {
    text-align: center;
}
#stage {
    background-color: lightgreen;
    height: 224px;
    margin-right: 10em;
    overflow: auto;
    overflow-y: hidden;

    background-image: url(/bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: pixelated;
}
#stage .attacking-pokemon {
    height: 192px;
    width: 192px;
}
#applause {
    background-color: khaki;
    color: red;
    width: 4em;
    border: 1px solid brown;
    border-radius: 15px;
    padding: .5em;
    margin: .5em;
    text-align: center;
}
#applause hr {
    border: 1px solid;
    margin: 0;
}
#dialog {
    height: 6em;
    clear: both;
}
#current-message {
    height: 100%;
    background-color: white;
    border: 5px solid salmon;
    box-sizing: border-box;
}
#moves {
    list-style: none;
    padding: initial;
    margin: 0;
    width: 7.5em;
}
#moves button {
    width: 100%;
}
