/* CSS declarations go here */
body {
    font-family: 'VT323', monospace;
    font-size: 16px;
    margin: 20px auto;
    max-width: 650px;
    line-height: 1.4;
    background-color: #B3E2A7;
}
input, select, button {
    font-family: 'VT323', serif;
    font-size: 1em;
}
h1 {
    clear: both;
}
#header {
    background-color: #77BD65;
    padding: .5em;
}
#header ul {
    list-style: none;
    padding: initial;
    margin: 0;
}
#header li {
    display: inline;
}
#content {
    position: relative;
}
.new-game table {
    border-spacing: 0;
}
.new-game select {
    width: 100%;
}
.lobby-list {
    list-style: none;
    padding: initial;
    margin: 0;
}
.lobby {
    display: inline-block;
    margin: .25em;
    padding: .5em;
    border: 1px solid black;
    border-radius: 5px;
}
.chatbox input {
    width: 100%
}
.chatbox ul {
    list-style: none;
    padding: initial;
    margin: 0
}
.chatbox {
    z-index: -1;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 20em;
}
#playerlist {
    float: right;
    list-style: none;
    padding: initial;
    margin: 0
}
#playerlist li {
    height: 3em;
    width: 10em;
    background-color: gold;
    border: 1px solid black;
    border-radius: 2px;

}
#log {
    height: 20em;
    overflow: auto;
    list-style: none;
    padding: initial;
    margin: 0;
}
.action table {
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    background-color: cornflowerblue;
}
.action td {
    border: 4px solid gray;
}
.action .category {
    font-size: 2em;
    float: left;
    width: 3em;
    text-align: center;
    text-transform: uppercase;
}
.action .appeal, .action .jam {
    float: right;
    clear: right;
}
.action .info {
    width: 100%;
}
.action .flavor {
    text-align: center;
}
#stage {
    background-color: lightgreen;
    height: 12em;
    margin-right: 10em;
}
#dialog {
    height: 6em;
    clear: both;
}
#current-message {
    height: 0;
    overflow: visible;
    position: relative;
    z-index: -1;
}
#moves {
    list-style: none;
    padding: initial;
    margin: 0;
    width: 7.5em;
}
#moves button {
    width: 100%;
}
